<div class="container">
<div class="page-header">
 <h1>Group <%= @group.id %> - <%= @assignment.title %></h1>
 <p>Group members to compare:

 <script type='text/javascript'>
 $(function(){
  $('#member1').change(function(){
    var newLocation='<%= compare_path(@assignment.id,@group.id,'member1',@members[1].id) %>';
    newLocation=newLocation.replace('member1',$(this).val());
    window.location.replace(newLocation);
  });
  $('#member2').change(function(){
    var newLocation='<%= compare_path(@assignment.id,@group.id,@members[0].id,'member2') %>';
    newLocation=newLocation.replace('member2',$(this).val());
    window.location.replace(newLocation);
  });
 });
 </script>
  <select id='member1'>
    <% @group.users.each do |user| %>
      <option value='<%= user.id %>' <% if @members[0].id==user.id %> <%= "selected" %> <% end %>><% if current_user.admin? %><%= user.name %><% else %><%= user.nickname %><% end %></option>
    <% end %>
  </select>
  and
  <select id='member2'>
    <% @group.users.each do |user| %>
      <option value='<%= user.id %>' <% if @members[1].id==user.id %> <%= "selected" %> <% end %>><% if current_user.admin? %><%= user.name %><% else %><%= user.nickname %><% end %></option>
    <% end %>
  </select>
 </p>
 <label> <input type='checkbox' id='show-all-annotations'> Show tags and footnotes for your analysis pair</label>
</div>
<div class='row'>

    <p id="notice"><%= notice %></p>




<div class='row'>
  <% for i in 0..1 %>
  <div class='col-md-6'>
  <h2><%= @posts[i].headline %><small>                  by: <% if current_user.admin? %>
                                                          <%= @posts[i].user.name %>
                                                        <% else %>
                                                          <%= @posts[i].user.nickname %>
                                                        <% end %></small></h2>
    <h4>Position: <% if @posts[i].position.nil? %>
                No position for this assignment
                <% else %>
                <%= @posts[i].position.title %>
                <% end %></h4>
    <br>
    <h4>First Draft</h4>
    <%= form_for(@first_drafts[i], :html=>{:class=>'form-inline'}) do |f| %>
    <% @pair_members.each do |member| %>
      <% if member.id!=current_user.id %>
        <div class='form-group partner-tags'>
        <label><%= member.name %>'s tags:</label>
         <p class="form-control-static"><%

         member_draft=Draft.where(post_id:@posts[i].id,title:"first draft", user_id:member.id)
        unless member_draft.empty?
        %>
        <%= member_draft.first.tag_list %>
        <%end%>
         </p>
        </div>
      <br>
      <%end%>
    <%end%>
      <div class='form-group'>
      <label>My tags: </label>
      <%= hidden_field_tag :compare, "true"%>
      <%= hidden_field_tag :member1, @members[0].id%>
      <%= hidden_field_tag :member2, @members[1].id%>
      <%= hidden_field_tag :group, @group.id%>
      <%#= f.autocomplete_field :tag_list, autocomplete_tag_name_drafts_path, :"data-delimiter" => ', ', :value=>@first_drafts[i].tag_list.join(", ")
      %>
      <%= f.text_field :tag_list, :value=>@first_drafts[i].tag_list.join(", ")  %>
      </div>
      <input type='submit' class='btn btn-primary btn-sm' value='save tags'>
    <% end %>
    <div class="draft well well-lg" id="draft-<%=@first_drafts[i].id%>"><%= @first_drafts[i].content.html_safe %></div>

        <h4>Final Draft</h4>
        <%= form_for(@final_drafts[i], :html=>{:class=>'form-inline'}) do |f| %>
        <% @pair_members.each do |member| %>
      <% if member.id!=current_user.id %>
        <div class='form-group partner-tags'>
        <label><%= member.name %>'s tags:</label>
         <p class="form-control-static"><%

         member_draft=Draft.where(post_id:@posts[i].id,title:"first draft", user_id:member.id)
        unless member_draft.empty?
        %>
        <%= member_draft.first.tag_list %>
        <%end%>
         </p>
        </div>
      <br>
      <%end%>
    <%end%>
        <div class='form-group'>
        <label>My tags: </label>
        <%= hidden_field_tag :compare, "true"%>
      <%= hidden_field_tag :member1, @members[0].id%>
      <%= hidden_field_tag :member2, @members[1].id%>
      <%= hidden_field_tag :group, @group.id%>
        <%#= f.autocomplete_field :tag_list, autocomplete_tag_name_drafts_path, :"data-delimiter" => ', ', :value=>@final_drafts[i].tag_list.join(", ")
        %>
        <%= f.text_field :tag_list, :value=>@final_drafts[i].tag_list.join(", ") %>
        </div>
        <input type='submit' class='btn btn-primary btn-sm' value='save tags'>
    <% end %>
        <div class="draft well well-lg" id="draft-<%=@final_drafts[i].id%>"><%= @final_drafts[i].content.html_safe %></div>



  <h4>Comments</h4>

  <table class="table table-bordered">
  	<%@comments = @posts[i].comments.order('created_at ASC')%>
  	<%@comments.each do |c|%>
  		<tr>
  			<td width="80%"><%=c.content.html_safe%></td>
  			<td width="20%" align="right">Commenter: <% if current_user.admin? %>
  			                                           <%=c.user.name%>
  			                                         <% else %>
  			                                           <%=c.user.nickname%>
  			                                         <% end %></td>
  		</tr>
  	<%end%>
  </table>

  <h4>Footnotes for <%= @members[i].nickname %> for First Draft:</h4>
  <div id='first-draft-footnotes-list-<%=i%>'></div>
  <h4>Footnotes for <%= @members[i].nickname %> for Final Draft:</h4>
  <div id='final-draft-footnotes-list-<%=i%>'></div>
  </div>
  <% end %>

</div>
<hr>
<div class="row">
  <div class="col-md-3">
  <h2>Notes</h2>
  <% if @assignment.team_annotations.where(:user_id => current_user.id, :group_id => @group.id).exists? %>
    <%=form_for(@assignment.team_annotations.where(:user_id => current_user.id, :group_id => @group.id).first) do |f|%>
      <%=f.text_area :content %>
      <%= hidden_field_tag :member1, @members[0].id%>
      <%= hidden_field_tag :member2, @members[1].id%>
      <%=f.submit "Save Note" %>
    <%end%>
  <%else%>
    <%=form_for(TeamAnnotation.new) do |f|%>
      <%=f.text_area :content %>
      <%=f.hidden_field :user_id, value: current_user.id %>
      <%=f.hidden_field :group_id, value: @group.id %>
      <%=f.hidden_field :assignment_id, value: @assignment.id %>
      <%= hidden_field_tag :member1, @members[0].id%>
      <%= hidden_field_tag :member2, @members[1].id%><br>
      <%=f.submit "Save Note" %>
    <%end%>
<% end %>
</div>
<div class="col-md-3">
<h2>Footnotes</h2>
  <ul id='member-list' class='list-unstyled'>
  </ul>
  <div id="footnote_message">

  </div>
  Create a Footnote:
  <%= form_for(Footnote.new) do |form|%>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :location%>
    <%= form.hidden_field :draft_id%>
    <%= form.label :content, "Write your comment here, please:" %>
    <%= form.text_area :content %>
    <%= hidden_field_tag :compare, "true"%>
    <%= hidden_field_tag :member1, @members[0].id%>
    <%= hidden_field_tag :member2, @members[1].id%>
    <%= hidden_field_tag :group, @group.id%>
    <%= form.submit "Generate Footnote" %>
  <% end %>

  <button id="new_footnote_button" class="btn btn-info">Create a footnote</button>
</div>

<div class="col-md-6">
<h2>Data Analysis</h2>
  <a href="javascript: window.open('<%= diff_path(@posts[0].id) %>', 'Diff Function', 'height=500, width=700')" class="btn btn-warning">Diff Function for Post 1</a>
  <a href="javascript: window.open('<%= diff_path(@posts[1].id) %>', 'Diff Function', 'height=500, width=700')" class="btn btn-warning">Diff Function for Post 2</a>
  <button class="btn btn-warning" onclick="window.print()">Print</button>

<script type="text/javascript">
var loc, draft;
function add_footnotes_to_text(footnotes_list, draft_id){
  var div = $("#draft-" + draft_id);
  var current_offset = 0;
  var footnote_number = 1;
  var new_tag;
  var parts;
  var current_footnote;
  for(var i = 0; i < footnotes_list.length; i++){
    current_footnote=footnotes_list[i];
    new_tag = "<sub class='footnote footnote-user-"+current_footnote.user_id+"' style='color:"+pair_member_by_id(pair_members,current_footnote.user_id).color+"'>" + footnote_number + "</sub>";
    parts = [div.html().slice(0, footnotes_list[i].location + current_offset), new_tag, div.html().slice(footnotes_list[i].location + current_offset, div.html().length)];
    div.html(parts.join(""));
    current_offset += new_tag.length;
    footnote_number++;
  }
}
function list_footnotes_in_container(container, footnotes_list){
  var current_footnote;
  container.append("<ol></ol>");
  for(var i=0; i<footnotes_list.length; i++){
    current_footnote=footnotes_list[i];
    container.children('ol').first().append("<li value='"+(i+1)+"' style='color:"+pair_member_by_id(pair_members,current_footnote.user_id).color+"' class='footnote footnote-user-"+current_footnote.user_id+"'>"+current_footnote.content+"</li>");
  }
}
var first_draft_footnotes1 = <%=@first_draft_footnotes[0].to_json(:only => [:id, :location, :content, :user_id]).html_safe %>;
var final_draft_footnotes1 = <%=@final_draft_footnotes[0].to_json(:only => [:id, :location, :content, :user_id]).html_safe %>;
var first_draft_footnotes2 = <%=@first_draft_footnotes[1].to_json(:only => [:id, :location, :content, :user_id]).html_safe %>;
var final_draft_footnotes2 = <%=@final_draft_footnotes[1].to_json(:only => [:id, :location, :content, :user_id]).html_safe %>;

var pair_members = <%= @pair_members.to_json(:only=>[:name, :id]).html_safe %>;
var possible_colors=['red','blue','green'];
var current_color=0;
var current_user_id=<%= current_user.id %>;
for(var i=0; i<pair_members.length; i++){
  current_member=pair_members[i];
  current_member.color=possible_colors[current_color];
  if(current_color<possible_colors.length){
    current_color++;
  }
  else{
    current_color=0;
  }
}

function pair_member_by_id(members,id){
  return $.grep(members, function(i){
    return i.id==id;
  })[0];
}

function show_all_footnotes(){
  $('.footnote').show();
}
function show_my_footnotes(){
  $('.footnote').hide();
  $('.footnote-user-'+current_user_id).show();
}

function show_all_tags(){
  $('.partner-tags').show();
}

function show_my_tags(){
  $('.partner-tags').hide();
}

function show_all_annotations(){
  show_all_footnotes();
  show_all_tags();
}

function show_my_annotations(){
  show_my_footnotes();
  show_my_tags();
}

function list_members(target,members,after){
  var current_member;
  for(var member in members){
      current_member=members[member];
      target.append("<li style='color:"+current_member.color+"' class='footnote footnote-user-"+current_member.id+"'>"+current_member.name+after+"</li>");
  }
}

function setCookie(c_name, value, exdays) {
    var exdate = new Date();
    exdate.setDate( exdate.getDate() + exdays );
    var c_value = escape( value ) + ( ( exdays == null ) ? "" : "; expires=" + exdate.toUTCString() );
    document.cookie = c_name + "=" + c_value + "; path=/";
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}


$(function(){
  add_footnotes_to_text(first_draft_footnotes1, <%=@first_drafts[0].id%>);
  add_footnotes_to_text(final_draft_footnotes1, <%=@final_drafts[0].id%>);
  add_footnotes_to_text(first_draft_footnotes2, <%=@first_drafts[1].id%>);
  add_footnotes_to_text(final_draft_footnotes2, <%=@final_drafts[1].id%>);

  list_footnotes_in_container($('#first-draft-footnotes-list-0'),first_draft_footnotes1);
  list_footnotes_in_container($('#final-draft-footnotes-list-0'),final_draft_footnotes1);
  list_footnotes_in_container($('#first-draft-footnotes-list-1'),first_draft_footnotes2);
  list_footnotes_in_container($('#final-draft-footnotes-list-1'),final_draft_footnotes2);

  list_members($('#member-list'),pair_members,"'s footnotes");

  if(getCookie('show-all-annotations')=="true"){
    show_all_annotations();
    $('#show-all-annotations').attr('checked',true);
  }
  else{
    show_my_annotations();
  }


  $('#show-all-annotations').change(function(){
    if($(this).is(':checked')){
      show_all_annotations();
      setCookie('show-all-annotations','true',10);
    }
    else{
      show_my_annotations();
      setCookie('show-all-annotations','false',10);
    }
  })

  $("#new_footnote_button").click(function(event){
    event.preventDefault();
    $("#footnote_message").html("Click footnote position");
    $(".draft").attr("contenteditable", "true").click(function(){
        loc = $(this).caret();
        draft = $(this).attr("id").replace("draft-", "");
        $(this).unbind("click").removeAttr("contenteditable");
        $("#new_footnote_button").hide();
        $("#new_footnote").show();
        $("#footnote_message").hide();
        $("#footnote_location").val(loc);
        $("#footnote_draft_id").val(draft);

      })
  })
  $("#new_footnote").hide();

})

</script>
</div>
</div>
</div>
