<p id="notice"><%= notice %></p>

<h1>Listing Pair Memberships</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pair_memberships.each do |pair_membership| %>
      <tr>
        <td><%= link_to 'Show', pair_membership %></td>
        <td><%= link_to 'Edit', edit_pair_membership_path(pair_membership) %></td>
        <td><%= link_to 'Destroy', pair_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pair membership', new_pair_membership_path %>
