<p id="notice"><%= notice %></p>

<head>
  <style>
    #activityList {
      border-right: 1px solid #ccc;
    }
  </style>
</head>
<body>
<div class="panel panel-default">
 <div class="panel-heading"><h1 align="center">User Activity Playback</h1></div>
 <div class="row">
  <div class="col-sm-4" id="activityList">
    <table class="table" align="center">
     <!-- index var tracks the index of the activity array to compare against the current activity event -->
     <% index = 0 %>
     <% @all_activity.each do |a| %>
       <tr>
         <td>
           <!-- embolden the current activity item -->
           <% if @i.to_i == index %>
             <b>
           <% end %>

           <% if current_user.admin %><%= @user.name %><% else %><%= @user.nickname %><% end %>
           <!-- the activity item is an ahoy event -->
           <% if a.is_a?(Ahoy::Event) %>
             <%= a.name %>
             <!-- the ahoy event has a post id if its properties length is greater than 2 -->
             <% if a.properties.to_s.length > 2 %>
               titled "<%= Post.find(a.properties.to_s.split('=>')[1]).headline %>" at <%=a.time%></td>
               <td><%= link_to 'Go to Post', post_path(a.properties.to_s.split('=>')[1]) %></td>
             <% else %>
               at <%=a.time%></td>
             <% end %>
           <!-- the activity item is a post creation -->
           <% elsif a.is_a?(Post) %>
             created a Post titled "<%= a.headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', post_path(a.id) %></td>
           <!-- the activity item is a comment creation -->
           <% elsif a.is_a?(Comment) %>
             commented on "<%= Post.find(a.post_id).headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', post_path(a.post_id) %></td>
           <!-- the activity item is liking a post -->
           <% elsif a.is_a?(Like) %>
             liked "<%= Post.find(a.post_id).headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', post_path(a.post_id) %></td>
           <!-- the activity item is a note creation -->
           <% elsif a.is_a?(Note) %>
             wrote a note for "<%= Post.find(a.post_id).headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', post_path(a.post_id) %></td>
           <% end %>

         <!-- embolden the current activity item -->
         <% if @i.to_i == index %>
           </b>
         <% end %>

         <% index += 1 %>
       </tr>
     <% end %>
    </table>
  </div>
  <div class="col-sm-8" id="snapshot"><br>
    <center>
      <!-- if assignment exists, pass its ID; if not, do not pass an assignment param to view activity for all assignments -->
      <% if !@assignment.nil? %>
        <%= button_to 'Back', users_playback_path(:user_id => @user.id, :i => @i.to_i - 1, :assignment_id => @assignment.id), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
        <%= button_to 'Forward', users_playback_path(:user_id => @user.id, :i => @i.to_i + 1, :assignment_id => @assignment.id), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
      <% else %>
        <%= button_to 'Back', users_playback_path(:user_id => @user.id, :i => @i.to_i - 1), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
        <%= button_to 'Forward', users_playback_path(:user_id => @user.id, :i => @i.to_i + 1), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
      <% end %>

    </center>
    <!-- renders the partial for the current activity item's corresponding post, or an empty space if there is no corresponding post -->
    <%= if !@gopost.nil? then render partial: "postsnap", object: @gopost, object: @user end %>

  </div>
 </div>

<div class="panel-footer"></div>
</div>

<br>

</body>
