<p id="notice"><%= notice %></p>

<head>
  <style>
    #activityList {
      border-right: 1px solid #ccc;
    }
  </style>
</head>
<body>
<div class="panel panel-default">
 <div class="panel-heading"><h1 align="center">Team Activity Playback</h1></div>
 <div class="row">
  <div class="col-sm-4" id="activityList">
    <table class="table" align="center">
     <!-- index var tracks the index of the activity array to compare against the current activity event -->
     <% index = 0 %>
     <% @overall_activity.each do |a| %>
       <tr>
         <td>
           <!-- embolden the current activity item -->
           <% if @i.to_i == index %>
             <b>
           <% end %>

           <%= index + 1 %>. <% if current_user.admin %><%= a.user.name %><% else %><%= a.user.nickname %><% end %>
           <!-- the activity item is an ahoy event -->
           <% if a.is_a?(Ahoy::Event) %>
             <%= a.name %>
             <!-- the ahoy event has a post id if its properties length is greater than 2 -->
             <% if a.properties.to_s.length > 2 %>
               <% unless Post.find_by_id(a.properties.to_s.split('=>')[1]).nil? %>
                 titled "<%= Post.find_by_id(a.properties.to_s.split('=>')[1]).headline %>" at <%=a.time%></td>
                 <td><%= link_to 'Go to Post', analyze_path(a.properties.to_s.split('=>')[1]) %></td>
               <% end %>
             <% else %>
               at <%=a.time%></td>
               <td></td>
             <% end %>
           <!-- the activity item is a post creation -->
           <% elsif a.is_a?(Post) %>
             created a Post titled "<%= a.headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', analyze_path(a.id) %></td>
           <!-- the activity item is a comment creation -->
           <% elsif a.is_a?(Comment) %>
             commented on "<%= Post.find_by_id(a.post_id).headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', analyze_path(a.post_id) %></td>
           <!-- the activity item is liking a post -->
           <% elsif a.is_a?(Like) %>
             liked "<%= Post.find_by_id(a.post_id).headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', analyze_path(a.post_id) %></td>
           <!-- the activity item is a note creation -->
           <% elsif a.is_a?(Note) %>
             wrote a note for "<%= Post.find_by_id(a.post_id).headline %>" at <%= a.created_at %></td>
             <td><%= link_to 'Go to Post', analyze_path(a.post_id) %></td>
           <% end %>

         <!-- embolden the current activity item -->
         <% if @i.to_i == index %>
           </b>
         <% end %>

         <!-- button that allows user to jump to activity item they wish to view in the partial -->
         <td>
           <% if !@assignment.nil? %>
             <%= button_to 'View Event', users_teamplay_path(:group_id => @group.id, :i => index, :assignment_id => @assignment.id) %>
           <% else %>
             <%= button_to 'View Event', users_teamplay_path(:group_id => @group.id, :i => index) %>
           <% end %>
         </td>

         <% index += 1 %>
       </tr>
     <% end %>
    </table>
  </div>
  <div class="col-sm-8" id="snapshot"><br>
    <center>
      <!-- if assignment exists, pass its ID; if not, do not pass an assignment param to view activity for all assignments -->
      <% if !@assignment.nil? %>
        <%= button_to 'Back', users_teamplay_path(:group_id => @group.id, :i => @i.to_i - 1, :assignment_id => @assignment.id), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
        <%= button_to 'Forward', users_teamplay_path(:group_id => @group.id, :i => @i.to_i + 1, :assignment_id => @assignment.id), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
      <% else %>
        <%= button_to 'Back', users_teamplay_path(:group_id => @group.id, :i => @i.to_i - 1), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
        <%= button_to 'Forward', users_teamplay_path(:group_id => @group.id, :i => @i.to_i + 1), form: {style: 'display:inline-block;'}, class: 'btn btn-info' %>
      <% end %>

    </center>
    <!-- renders the partial for the current activity item's corresponding post, or an empty space if there is no corresponding post -->
    <% @user = @overall_activity[@i.to_i].user %>
    <%= if !@gopost.nil? then render partial: "postsnap", object: @gopost, object: @user end %>

  </div>
 </div>

<div class="panel-footer"></div>
</div>

<br>

</body>
