<% @post = Post.find(post_id)%>

<div class="sidebar">
  <h2>Comments</h2>
  <% if @post.annotations.where(:user_id => current_user.id).exists? %>

    <%=form_for(@post.annotations.where(:user_id => current_user.id).first) do |f|%>
      <%=f.text_area :content %>
      <%=f.submit "Save Comment" %>
    <%end%>
  <%else%>
    <%=form_for(Annotation.new) do |f|%>
      <%=f.text_area :content %>
      <%=f.hidden_field :user_id, value: current_user.id %>
      <%=f.hidden_field :post_id, value: @post.id %><br>
      <%=f.submit "Save Comment" %>
    <%end%>
<% end %>

  <h2>Footnotes</h2>


  <h2>Data Analysis</h2>
  <button class="btn btn-warning" data-toggle="modal" data-target="#DiffModal">Diff Function</button>
  <button class="btn btn-warning">Word Count</button>
  <button class="btn btn-warning">Print</button>
  <button class="btn btn-warning">Compare Team</button>
  <button class="btn btn-warning">Save as PDF</button>

  <div id="DiffModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Differences between First and Final Drafts</h4>
        </div>
        <div class="modal-body">
          <%= Diffy::Diff.new(@post.drafts.first.content, @post.drafts.last.content, :include_plus_and_minus_in_html => true).to_s(:html).html_safe %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#DiffModal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
