<% @post = Post.find(post_id)



 @first_draft=Draft.where(post_id:@post.id,title:"first draft", user_id:current_user.id).first
 @final_draft=Draft.where(post_id:@post.id,title:"final draft", user_id:current_user.id).first

 first_draft_footnotes=Footnote.where(draft_id: @first_draft.id).order(:location)
 final_draft_footnotes=Footnote.where(draft_id: @final_draft.id).order(:location)


%>

<div class="sidebar">
  <h2>Notes</h2>
  <% if @post.annotations.where(:user_id => current_user.id).exists? %>
    <%=form_for(@post.annotations.where(:user_id => current_user.id).first) do |f|%>
      <%=f.text_area :content %>
      <%=f.submit "Save Note" %>
    <%end%>
  <%else%>
    <%=form_for(Annotation.new) do |f|%>
      <%=f.text_area :content %>
      <%=f.hidden_field :user_id, value: current_user.id %>
      <%=f.hidden_field :post_id, value: @post.id %><br>
      <%=f.submit "Save Note" %>
    <%end%>
<% end %>

  <h2>Footnotes</h2>
  <div id="footnote_message">

  </div>
  Create a Footnote:
  <%= form_for(Footnote.new) do |form|%>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :location%>
    <%= form.hidden_field :draft_id%>
    <%= form.label :content, "Write your comment here, please:" %>
    <%= form.text_area :content %>
    <%= form.submit "Generate Footnote" %>
  <% end %>

  <button id="new_footnote_button" class="btn btn-info">Create a footnote</button>
  <h4>Footnotes for First Draft:</h4>
  <ol>
    <% first_draft_footnotes.each do |goot| %>
      <li><%= goot.content %> <%= link_to 'X', goot, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class:'btn btn-danger btn-xs' %> </li>
    <% end %>
  </ol>
  <h4>Footnotes for Final Draft:</h4>
  <ol>
    <% final_draft_footnotes.each do |goot| %>
      <li><%= goot.content %> <%= link_to 'X', goot, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class:'btn btn-danger btn-xs' %> </li>
    <% end %>
  </ol>

  <h2>Data Analysis</h2>
  <a href="javascript: window.open('<%= diff_path(@post.id) %>', 'Diff Function', 'height=500, width=700')" class="btn btn-warning">Diff Function</a>
  <button class="btn btn-warning" onclick="window.print()">Print</button>
  <% unless Membership.where(user_id: @post.user.id).first.nil? %>
    <%= button_to 'Compare Team', compare_path(:assignment_id => @post.assignment.id, :group_id => Membership.where(user_id: @post.user.id).first.group_id, :member1 => @post.user, :member2 => @post.user), class: 'btn btn-warning' %>
  <% end %>

<script type="text/javascript">
var loc, draft;
function addFootnotes(footnotes_list, draft_id){
  var div = $("#draft-" + draft_id);
  var current_offset = 0;
  var footnote_number = 1;
  var new_tag;
  var parts;
  for(var i = 0; i < footnotes_list.length; i++){
    new_tag = "<sub>" + footnote_number + "</sub>";
    parts = [div.html().slice(0, footnotes_list[i].location + current_offset), new_tag, div.html().slice(footnotes_list[i].location + current_offset, div.html().length)];
    console.log(parts);
    div.html(parts.join(""));
    current_offset += new_tag.length;
    footnote_number++;
  }
}
var first_draft_footnotes = <%=first_draft_footnotes.to_json(:only => [:id, :location, :user_id]).html_safe %>;
var final_draft_footnotes = <%=final_draft_footnotes.to_json(:only => [:id, :location, :user_id]).html_safe %>;
$(function(){
  addFootnotes(first_draft_footnotes, <%=@first_draft.id%>);
  addFootnotes(final_draft_footnotes, <%=@final_draft.id%>);
  $("#new_footnote_button").click(function(event){
    event.preventDefault();
    $("#footnote_message").html("Click footnote position");
    $(".draft").attr("contenteditable", "true").click(function(){
        loc = $(this).caret();
        draft = $(this).attr("id").replace("draft-", "");
        $(this).unbind("click").removeAttr("contenteditable");
        $("#new_footnote_button").hide();
        $("#new_footnote").show();
        $("#footnote_message").hide();
        $("#footnote_location").val(loc);
        $("#footnote_draft_id").val(draft);

      })
  })
  $("#new_footnote").hide();

})


</script>
