<div class="container">
<div class="page-header">
  <h1><%= @post.headline %><small> by: <% if current_user.admin? %>
                                                          <%= @post.user.name %>
                                                        <% else %>
                                                          <%= @post.user.nickname %>
                                                        <% end %></small></h1>

<label> <input type='checkbox' id='show-all-annotations'> Show tags and footnotes for whole team</label>
</div>
<div class='row'>
  <div class="col-md-9">
    <p id="notice"><%= notice %></p>


<h4>Position: <% if @post.position.nil? %>
            No position for this assignment
            <% else %>
            <%= @post.position.title %>
            <% end %></h4>
<br>
<h4>First Draft</h4>
<%= form_for(@first_draft, :html=>{:class=>'form-inline'}) do |f| %>
  <% @pair_members.each do |member| %>
    <% if member.id!=current_user.id %>
      <div class='form-group partner-tags'>
      <label><%= member.name %>'s tags:</label>
       <p class="form-control-static"><%= Draft.where(post_id:@post.id,title:"first draft", user_id:member.id).first.tag_list %>
       </p>
      </div>
    <br>
    <%end%>
  <%end%>
  <div class='form-group'>
  <label>My tags: </label>
  <%= f.autocomplete_field :tag_list, autocomplete_tag_name_drafts_path, :"data-delimiter" => ', ', :value=>@first_draft.tag_list.join(", ")  %>
  </div>
  <input type='submit' class='btn btn-primary btn-sm' value='save tags'>
<% end %> 
<div class="well well-lg draft" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style= "margin-bottom: 5px" id="draft-<%=@first_draft.id%>"><%= @first_draft.content.html_safe %>
</div>
<div align="right">
  Word Count: <%= @first_draft.content.split.size %>
</div>

<h4>Final Draft</h4>
<%= form_for(@final_draft, :html=>{:class=>'form-inline'}) do |f| %>
<% @pair_members.each do |member| %>
    <% if member.id!=current_user.id %>
      <div class='form-group partner-tags'>
      <label><%= member.name %>'s tags:</label>
       <p class="form-control-static"><%= Draft.where(post_id:@post.id,title:"final draft", user_id:member.id).first.tag_list %>
       </p>
      </div>
    <br>
    <%end%>
  <%end%>
<div class='form-group'>
<label>Tags: </label>
<%#= f.autocomplete_field :tag_list, autocomplete_tag_name_drafts_path, :"data-delimiter" => ', ', :value=>@final_draft.tag_list.join(", ")
%> 
<%= f.text_field :tag_list, :value=>@final_draft.tag_list.join(", ") %> 
</div>
<input type='submit' class='btn btn-primary btn-sm' value='save tags'>
<% end %> 
<div class="well well-lg draft" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style= "margin-bottom: 5px" id="draft-<%=@final_draft.id%>"><%= @final_draft.content.html_safe %>
</div>
<div align="right">
Word Count: <%= @final_draft.content.split.size %>
</div>

<h4>List of my tags:</h4>
<% if @tags.count > 0 %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags on the system.</p>
<% end %>

<div align="right">
  <% if current_user.admin %>
  	<% if @post.bookmarked %>
  	  Bookmarked
  	<% end %>
  <%end%>


  <% if @post.likes.count != nil %>
    <h4>Likes: <%= @post.likes.count %></h4>
  <% end %>

</div>
  
<h4>Comments</h4>

<table class="table table-bordered">
	<%@comments = @post.comments.order('created_at ASC')%>
	<%@comments.each do |c|%>
		<tr>
			<td width="80%"><%=c.content.html_safe%></td>
			<td width="20%" align="right">Commenter: <% if current_user.admin? %>
			                                           <%=c.user.name%>
			                                         <% else %>
			                                           <%=c.user.nickname%>
			                                         <% end %></td>
		</tr>
	<%end%>
</table>
</div>
<div class="col-md-3">
  <%= render  'annotate', :post_id => params[:id] %>
</div>
</div>
</div>